<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="@spacer" type="spacer" default="Login options" />
		<param name="accessKey" type="text" default="" label="Access key" description="Access key from Amazon.com" size="30" />
		<param name="secretKey" type="password" default="" label="Secret key" description="Secret key from Amazon.com" size="30" />
		<param name="@spacer" type="spacer" default="Link options" />
		<param name="linkValidityPeriod" type="text" default="28800" label="Link validity period" description="Links visible at the frontpage will only be valid for a limited period of time. In seconds." size="30" />
	</params>
</config>
